

.header {
  font-size: 13px;
  line-height: 1;
  font-weight: 600;
  padding: 0 68px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 984px) {
  .header {
      padding: 0 24px;
  }
}

@media screen and (max-width: 568px) {
  .header {
    padding: 0 16px;
  }
}
