.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* row-gap: 130px; */
  /* margin: 86px auto; */
}

@media screen and (max-width: 1023px) {
  .content {
    /* row-gap: 65px; */
  }
}
