.burger-menu__link {
    padding: 30px;
    width: 100px;
    font-family: sans-serif;
    font-size: 28px;
    text-decoration: none;
    color: #fecda7;
    transition: opacity .5s ease;
}


.burger-menu__link:hover {
    opacity: 0.5;
}
