.intro__image {
  width: 355px;
  max-width: 90%;
  aspect-ratio: 1/1;
  margin: 0;
  object-fit: cover;
  object-position: center;
  scale: 1;
  transition: scale .6s ease-in;
}

.intro__image:hover {
  scale: 1.06;
}

@media screen and (max-width: 768px) {
  .intro__image {
    max-width: 100%;
    width: 100%;
  }

  .intro__image:hover {
    scale: 1;
  }
}

@media screen and (max-width: 568px) {
  .intro__image {
    aspect-ratio: 6/5;
    object-position: 0 5%;
  }
}