.places__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 70%;
    height: 100%;
    box-sizing: border-box;
    padding: 68px 0 85px 75px;
  }

  @media screen and (max-width: 1124px) {
    .places__description {
      padding: 48px 0 65px 55px;
      max-width: 75%;
    }
  }

  @media screen and (max-width: 984px) {

  }
