.section__title {
  color: #fecda7;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .section__title {
    margin-bottom: 20px;
  }
}
